# PostgreSQL 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=airflow_db

# Данные парсера
DB_NAME=dns_prices_db
DB_HOST=de_postgres
DB_PORT=5432

# pgAdmin 
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# SSH (для обхода защиты сайта Qrator)
SSH_HOST=host.docker.internal
SSH_PORT=22
SSH_USER=your_windows_username
SSH_PASSWORD=your_ssh_password
SOCKS_PORT=1080